.cart-card{
    color: red;
    width: 30ch ;
    height: 30ch;
    background-color: aquamarine;
    border-color: black;

    
}
.image{
    width: 20ch ;
    height: 20ch;
    background-color: brown;

}